name: ci

on:
  push:
  pull_request:

jobs:
  windows-build-test:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure
        run: cmake -S . -B build

      - name: Build (Debug)
        run: cmake --build build --config Debug

      - name: Test (Debug)
        run: ctest --test-dir build -C Debug --output-on-failure
